<div class="game">

    <img id="copertina" src="{{item.copertina}}">

    <div id="dettagli">
        <p id="descrizione">Nome: {{item.nome}}</p>
        <p id="descrizione">Descrizione: {{item.descrizione}}</p>
        <p id="descrizione">Genere: {{item.genere.descrizione}}</p>
        <p id="descrizione">Rating: {{item.rating}} &#9733;</p>
        <p id="descrizione">Anno di Uscita: {{item.annoUscita}}</p>

        <p id="prezzo">{{item.prezzo}} €</p>
    </div>

    <p id="cta" (click)="backToList()">
        << Indietro </p>
            <p *ngIf="isAdmin == true" id="cta" (click)="selectGame()"> Modifica >> </p>

</div>