<h2>Inserisci Nome da ricercare:</h2>
<div class="find">
    <input [(ngModel)]="value" />
    <p id="cerca" (click)="showGame(value)">Cerca</p>
</div>

<h2 *ngIf="founds == true">Elemento Non Trovato!</h2>
<div class="found" *ngIf="newItem != undefined">

    <label>Nome:</label> <input [(ngModel)]="newItem.nome" disabled />
    <label>Descrizione:</label> <input [(ngModel)]="newItem.descrizione" />
    <!-- <label>Genere:</label> <input [(ngModel)]="newItem.genere.descrizione" /> -->

    <select [(ngModel)]="newItem.genere.descrizione">
        <ng-container  *ngFor="let genere of generi">
            <ng-container *ngIf="genere.id != null && genere != newItem.genere.id">
                <option [ngValue]="genere.descrizione">{{genere.descrizione}}</option>
            </ng-container>
        </ng-container>
    </select>

    <label>Rating:</label> <input [(ngModel)]="newItem.rating" />
    <label>Prezzo:</label> <input [(ngModel)]="newItem.prezzo" />
    <label>Anno di Uscita:</label> <input [(ngModel)]="newItem.annoUscita" />

    <p id="cta" (click)="updateGame()">Modifica</p>
</div>