<h2>Inserisci Nome da ricercare:</h2>
<div class="find">
    <input [(ngModel)]="value" />
    <p id="cerca" (click)="showGame(value)">Cerca</p>
</div>

<div class="found" *ngIf="newItem != undefined">

    <label>Nome:</label> <input [(ngModel)]="newItem.nome" disabled />
    <label>Descrizione:</label> <input [(ngModel)]="newItem.descrizione" />
    <label>Genere:</label> <input [(ngModel)]="newItem.genere" />
    <label>Rating:</label> <input [(ngModel)]="newItem.rating" />
    <label>Prezzo:</label> <input [(ngModel)]="newItem.prezzo" />
    <label>Anno di Uscita:</label> <input [(ngModel)]="newItem.annoUscita" />

    <p id="cta" (click)="updateGame()">Modifica</p>
</div>